.errorlist {
    color: #c00;
    font-size: 12px;
    font-style: italic;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.email_form th {
    padding-right: 1em;
    text-align: right;
    vertical-align: top;
}
.email_form .helptext {
    color: #999;
    font-size: 12px;
    font-style: italic;
    margin: 0;
}
.email_form #id_captcha {
    width: 4em;
}
.email_form #id_sender,
.email_form #id_subject,
.email_form #id_message {
    width: 100%;
}
.email_submit {
    text-align: center;
}

