body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 10px;
}

.footer {
    padding: 10px 0;
    margin-top: 30px;
}

.page-header {
    margin-top: 0;
}

.page-header h1 {
    margin-top: 10px;
}

article.entry {
    margin-bottom: 40px;
}

article.entry header, #detail header {
    margin-bottom: 9px;
}

article.entry h3 a {
    color: #333333;
}

#detail {
    margin: 20px 0px;
}

#detail h1 {
    font-size: 30px;
    margin-top: 12px;
    margin-bottom: 8px;
}

#detail h2 {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 8px;
}

#detail h3 {
    font-size: 21px;
    margin-top: 12px;
    margin-bottom: 8px;
}

#detail h4 {
    font-size: 18px;
}
