{% extends "admin/base.html" %}

{% block title %}{{ title }} | Nainomics Backend{% endblock %}

{% block extrahead %}
<style>
.nav li {
    float: left;
    list-style-type: none;
}
.nav li a {
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    display: block;
}
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Nainomics Backend</a></h1>
{% endblock %}

{% block nav-global %}
<ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/blog/">Blog</a></li>
</ul>
{% endblock %}
