{% extends "base.html" %}
{% block extrahead %}
<link rel="alternate" type="application/atom+xml" title="Blog: Main Feed" href="{% url 'blog_feeds_entries' %}">
{% endblock extrahead %}
{% block content %}
<header class="page-header">
    <h1>{% block heading %}{{ heading_content }}{% endblock heading %}</h1>
    <nav class="row">
        <ul class="nav nav-pills">
            {% url 'blog_entry_archive_index' as archive_link %}
            <li><a href="{{ archive_link }}">Archives</a></li>
            {% for category in categories %}
            {% url 'blog_category_detail' slug=category.slug as category_link %}
            <li><a href="{{ category_link }}">{{ category.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>
<section class="clearfix"> {% block blog_content %}{% endblock blog_content %} </section>
<p class="text-center">{% block rss_feed %}<br />Subscribe to <a href="{% url 'blog_feeds_entries' %}">Full Rss feed</a>{% endblock rss_feed %}</p>
{% endblock content %}
