{% extends "blog/base.html" %}
{% block heading %}Blog{% endblock heading %}
{% block blog_content %}
{% for entry in entries %}
<article class="entry">
<header>
    <h3><a href="{% url 'blog_entry_detail' slug=entry.slug %}">{{ entry.title }}</a></h3>
    <span class="label label-default">{{ entry.pub_date|date:"d F Y" }}</span> 
</header>
<section>
    {% autoescape off %}
        {% if entry.excerpt_html %}
            {{ entry.excerpt_html }} {% else %}
            {{ entry.body_html }} {% endif %}
    {% endautoescape %}
    <a href="{% url 'blog_entry_detail' slug=entry.slug %}"> read more...</a>
</section>
</article>
{% empty %}
<header>
    <p>Sorry, nothing here for now. Check back later.</p>
</header>
{% endfor %}
{% include "pagination.html" %}
{% endblock blog_content %}
