{% extends "blog/base.html" %}

{% block title_heading %}Categories{% endblock title_heading %}
{% block heading %}Categories{% endblock heading %}

{% block blog_content %}
<ul>
{% for category in category_list %}
<li><a href="{% url 'blog_category_detail' slug=category.slug %}">{{ category.title }}</a></li>
{% endfor %}
</ul>
{% endblock blog_content %}

