{% extends "blog/base.html" %}
{% block extrahead %} {{ block.super }}
<link rel="alternate" type="application/atom+xml" title="Blog: {{ category }} category Feed" href="{% url 'blog_feeds_category' slug=category.slug %}">
{% endblock extrahead %}

{% block title_heading %}{{ category.title }}{% endblock title_heading %}
{% block heading %}{{ category.title }}{% endblock heading %}

{% block blog_content %}
<article id="detail">{% autoescape off %}{{ category.description_html }}{% endautoescape %}</article>
<h3>Articles in {{ category }}</h3>
<ul>
{% for entry in entries %}
    <li>{{ entry.pub_date|date:"M d, Y" }}: <a href="{% url 'blog_entry_detail' slug=entry.slug %}">{{ entry.title }}</a></li>
{% empty %}
    <li>Sorry nothing here for now. Check back later.</li>
{% endfor %}
</ul>
{% endblock blog_content %}

{% block rss_feed %}{{ block.super }} or <a href="{% url 'blog_feeds_category' slug=category.slug %}">{{ category }} feed</a>{% endblock rss_feed %}
