{% extends "blog/base.html" %}
{% block title_heading %}{{ entry.title }}{% endblock title_heading %}
{% block heading %}{{ entry.title }}{% endblock heading %}
{% block blog_content %}
<article id="detail">
    <header>
        <span class="label label-default">{{ entry.pub_date|date:"d F Y - P - e" }}</span>
    </header>
    <section> {% autoescape off %} {{ entry.body_html }} {% endautoescape %} </section>
    <footer class="well well-sm">
        <p>Posted in:</p>
        <ul class="list-inline">
            {% for category in entry.categories.all %}
            <li><a href="{% url 'blog_category_detail' slug=category.slug %}" class="label label-success">{{ category.title }}</a></li>
            {% endfor %}
        </ul>
    </footer>
</article>
<hr />
{% endblock blog_content %}
