{% extends "blog/base.html" %}
{% block title_heading %}Archives{% endblock title_heading %}
{% block heading %}Archives{% endblock heading %}
{% block blog_content %}
<article>
<ul>
    {% for entry in latest %}
    <li>{{ entry.pub_date|date:"M d, Y" }}: <a href="{% url 'blog_entry_detail' slug=entry.slug %}">{{ entry.title }}</a></li>
    {% endfor %}
</ul>
</article>
{% endblock blog_content %}
