{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1>500 Server Error.</h1>
    <p>Sorry server had some issues. Please try after some time.</p>
</div>
{% endblock content %}
