<!DOCTYPE HTML>
{% load sitemetrics %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title_heading %}{{ heading_meta }} {{ site.name }}{% endblock title_heading %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/shadow.css" rel="stylesheet" media="screen">
{% block extrahead %} {% endblock extrahead %} 
</head>
<body>
    <div class="container">
    {% include "navbar.html" %}

        <section class="row" id="content">
            <article class="container">{% block content %}{% endblock content %}</article>
        </section>

    {% include "footer.html" %}
    </div>

    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    {% block extrajs %}{% endblock extrajs %}

    {% sitemetrics %}
</body>
</html>
