{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Hi, I am Karambir and this is my personal website.</h1>
    <p>I am a Web Developer and a Dota2 amateur.
    You can find me on various social networking sites by username <strong>akarambir</strong>.</p>
    <p>I write my experiences on my <a href="{% url 'blog_home' %}">blog</a> and collect all sorts of useful links
    and information <a href="https://pinboard.in/u:karambir/">here</a>.</p>
    <p>In my leisure time I like to play Dota2 and build some cool projects. See them <a href="/pages/projects/">here</a>.</p>
    <p>Check out my <a href="/pages/about/" class="btn btn-sm btn-primary">Resume</a> or connect with me .</p>
</div>
{% endblock content %}
