{% load flatpages %}
{% get_flatpages as flatpages %}
<header class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">{{ site.name|default:"Shadow" }}</a>
    </div>
    <nav class="navbar-collapse collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right">
            <li class="{% ifequal request.path "/" %}active{% endifequal %}"><a href="/">Home</a></li>
            <li class="{% if "/blog" in request.path %}active{% endif %}"><a href="{% url 'blog_home' %}">Blog</a></li>
            <li class="{% if "/contact" in request.path %}active{% endif %}"><a href="{% url 'contact:form' %}">Contact</a></li>
            {% for page in flatpages %}
            <li class="{% ifequal request.path "/pages"|add:page.url %}active{% endifequal %}"><a href="/pages{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
  </div>
</header>
