{% extends "base.html" %}
{% block content %}
<form class="form-signin" action="" method="post">{% csrf_token %}
    <h2 class="form-signin-heading">Please Login</h2>
    <input type="text" class="form-control" placeholder="Email address" autofocus>
    <input type="password" class="form-control" placeholder="Password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>
{% endblock content %}
