{% extends "base.html" %}
{% load markup from markup %}
{% block title_heading %}{{ flatpage.title }}{% endblock title_heading %}
{% block content %}
<header class="page-header">
    <h1>{{ flatpage.title }}</h1>
</header>
<section id="detail"> {{ flatpage.content|markup }} </section>
{% endblock content %}
